In [ ]:
"""Q1. What is a database? Differentiate between SQL and NoSQL databases."""
A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of information. It provides a mechanism to store, manage, and retrieve data for various applications.

Differences:
#SQL DATABASE:
    1.SQL (Structured Query Language) databases are based on the relational model.
    2.They use tables to store data, with each table consisting of rows and columns.
    3.The data is organized into predefined structures with a fixed schema.
    4.SQL databases enforce ACID (Atomicity, Consistency, Isolation, Durability) properties to ensure data integrity.
    5.SQL databases enforce ACID (Atomicity, Consistency, Isolation, Durability) properties to ensure data integrity.
#NOSQL DATABASE:
    1.SQL databases enforce ACID (Atomicity, Consistency, Isolation, Durability) properties to ensure data integrity.
    2.They provide flexible schemas, allowing for dynamic and schema-less data.
    3.NoSQL databases are horizontally scalable, meaning they can handle large amounts of data distributed across multiple servers.
    4.NoSQL databases sacrifice some ACID properties (e.g., consistency) in favor of performance and scalability.
    5.Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Amazon DynamoDB.

In [ ]:
"""Q2.Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example."""
DDL :
    1.DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that deals with defining and manipulating the structure of a database.
    2.DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and constraints.
    
1.CREATE:
    The CREATE statement is used to create a new database object, such as a table, view, index, or constraint. It specifies the name of the object and defines its structure and properties.
  #Example:
    CREATE TABLE student (name VARCHAR(30),age INT,email VARCHAR(10));
2.DROP:
    The DROP statement is used to remove an existing database object. It permanently deletes the object and all its associated data.
 #Example:
    DROP TABLE student;
3.ALTER:
    The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of the object.
 #Example:
    ALTER TABLE student ADD (phone_no INT);
4.TRUNCATE:
    The TRUNCATE statement is used to delete all the data from a table, but it keeps the table structure intact.
 #Example:
    TRUNCATE TABLE student;

In [ ]:
"""Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example."""
DML :
    DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that deals with manipulating the data stored in a database. DML statements are used to insert, update, and delete data in database tables.
1.INSERT:
    DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that deals with manipulating the data stored in a database. DML statements are used to insert, update, and delete data in database tables.
 #Example:
    INSERT INTO college (name,fees,area) VALUES ('nist',120000,'Berhampur');
2.UPDATE:
    The UPDATE statement is used to modify existing records in a table. It allows you to update specific columns of one or more records based on specified conditions.
 #Example:
    UPDATE college SET branch='computer science and engineering',WHERE fees=110000;
3.DELETE:
    The DELETE statement is used to remove records from a table. It allows you to delete specific rows based on specified conditions.
 #Example:
    DELETE FROM college WHERE fees=200000;

In [ ]:
"""Q4. What is DQL? Explain SELECT with an example."""
DQL :
    DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve and query data from a database.
SELECT:
    The SELECT statement allows you to specify the columns you want to retrieve, the tableS from which to retrieve the data, and optional conditions to filter the data.
#Example:
    SELECT *FROM employee WHERE salary>90000;

In [ ]:
"""Q5. Explain Primary Key and Foreign Key."""
Primary key:
    A primary key is a column or a combination of columns that uniquely identifies each record in a database table. It ensures the integrity and uniqueness of the data within the table.
Foreign key:
    A foreign key is a column or a combination of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables based on the values in the foreign key columns.

In [ ]:
"""Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method."""
Code:
    
import mysql.connector
mydb = mysql.connector.connect
(
    host = "localhost"
    user = "abc"
    password = "sas"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for a in mycursor:
    print(a)
    
-----------------------------------------------------------------------

Cursor():
    The cursor() method creates a cursor object that allows you to execute SQL statements and retrieve results. It acts as a handle to interact with the database.
execute():
    The execute() method is called on the cursor object and is used to execute SQL queries. You pass the SQL query as a parameter to this method. It can be a query to select, insert, update, or delete data. After executing the query, the cursor holds the result set, which can be retrieved using methods like fetchall().

In [ ]:
"""Q7. Give the order of execution of SQL clauses in an SQL query."""
    1-------FROM---------Tables are joined to get the base data.
    2-------WHERE--------The base data is filtered.
    3-------GROUP BY-----The filtered base data is grouped.
    4-------HAVING-------The grouped base data is filtered.
    5-------SELECT-------The final data is returned.
    6-------ORDER BY-----The final data is sorted.
    7-------LIMIT--------The returned data is limited to row count.